.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .navbar-left h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .navbar-right .signup-link {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .navbar-right .signup-link:hover {
    background-color: #0056b3;
  }
  .logo-img {
    height: 50px;
    width: auto;
    object-fit: contain;
  }
  